.addToMenuButton {
    background-color: green;
    color: white;
    font-size: small;
    padding: 5px;
    width: 7%;
    border-radius: 4px;
    position: absolute;
    top: 15%;
    right: 83%;
    height: 4%;
    z-index: 20;
}

.formContainer {
    z-index: 20;
    height: 94%;
    width: 22%;
    right: 78%;
    top: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    position: fixed;
    background-color: whitesmoke;
}

.title {
    font-size: larger;
}

.wrapper {
    padding: 2%;
}


