.dailyDishes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.title {
    font-size: x-large;
}

.date {
    font-size: medium;
}

.dishesRow {
    display: flex;
    flex-direction: row;
    gap: 2%;
    overflow-x: auto;
    overflow-y: hidden; 
    height: 40vh;
    width: 100%;
    
}

.dishesRow::-webkit-scrollbar {
    display: none;
}

