.dailyDishesList {
    width: 80vw;
    height: 80vh;
    margin-top: 2%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.dailyDishesList::-webkit-scrollbar {
    display: none;
}