.dishForm {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;
  height: 100%;
}

.dishForm label {
    font-size: small;
}

.dishForm input, .dishForm textarea {
    background-color: whitesmoke;
    margin-bottom: 10%;
    border: 1px solid gray
}

.dishForm * {
    border-radius: 4px;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    align-self: center;
    width: 100%;
}

.buttons button {
    width: 100%;
    height: 100%;
}

.submitButton {
    margin-top: 5%;
    background-color: green;
    color: white;
}

.exitButton {
    background-color: rgb(154, 188, 103);
}

.field {
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-self: center;
    width: 100%;
}
