.dishCard {
    flex-shrink: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.dishCard:hover {
    transform: scale(1.1);
}

.dishCard img {
    width: 100%;
    height: 45%;
}

.dishCardContent {
    height: 55%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: white;
    flex-grow: 1;
    margin-bottom: 2%;
}


.dishCardContent .name {
    font-size: x-large;
}

.dishCardContent .description {
    font-size: medium;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8%;
    width: 100%;
    align-self: center;
    margin-top: auto;
}

.buttonsRow button {
    background-color: rgb(154, 188, 103);
    width: 50%;
    height: 100%;
}