.dishes {
    width: 80vw;
    height: 80vh;
    margin-top: 2%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 5%;
    position: relative;
}

.dishes::-webkit-scrollbar {
    display: none;
}

.addToMenuButton {
    background-color: green;
    color: white;
    font-size: small;
    padding: 2px;
    width: 10%;
    border-radius: 4px;
    position: absolute;
    top: 2%;
    right: 90%;
    height: 5%;
}

.formContainer {
    z-index: 20;
    height: 94%;
    width: 22%;
    right: 78%;
    top: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    position: fixed;
    background-color: whitesmoke;
}

.title {
    font-size: larger;
}

.wrapper {
    padding: 2%;
}


