.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25%;
  margin-right: 35%;
  width: 17vw;
}

.loginForm label {
    font-size: small;
}

.loginForm input {
    background-color: whitesmoke;
    margin-bottom: 10%;
    border: 1px solid gray
}

.loginForm * {
    border-radius: 4px;
}

.loginForm button {
    margin-top: 5%;
    background-color: green;
    color: white;
}






