.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding-right: 10px;
  width: 100%;
}

.loginForm label {
    font-size: small;
}

.loginForm input {
    margin-bottom: 10%;
    border: 1px solid gray
}

.loginForm * {
    border-radius: 4px;
}

.loginForm button {
    margin-top: 5%;
    background-color: green;
    color: white;
}




