:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}

.user-card {
  padding: 10px 16px;
  margin: 20px 0;
}
.user-card:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.user-card h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
